body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #000;
}

.logo {
    color: gold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: gold;
}

.hero {
    background: url('images/hero.jpg') center/cover no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-content {
    text-align: center;
    margin-bottom: 120px;
}

.btn {
    background: gold;
    padding: 12px 24px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.about, .featured, .menu, .contact {
    padding: 60px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card img {
    width: 250px;
    border-radius: 10px;
}

.menu-category {
    margin: 30px 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
}

input, textarea, button {
    padding: 12px;
    border-radius: 5px;
    border: none;
}

button {
    background: gold;
    color: black;
    cursor: pointer;
}
